[submodule "programmer/javascript/001/02/template"]
	path = programmer/javascript/001/02/template
	url = /media/acd/z/acd/programmer/javascript/001/02/5/template/
[submodule "template"]
	path = template
	url = /media/acd/z/acd/programmer/javascript/001/02/5/template/
